@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    /* Photo by <a href="https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pawel Czerwinski</a> on <a href="https://unsplash.com/s/photos/pure-colour?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: url('./login_bg.jpg');
    background-size: cover;
    background-position: center;
}